<div class="container">
	<div class="botton-buttons">
		<div class="logo-login">
			<img src="img/Cerveza-Patagonia-LOGO.png" alt="">
		</div>
		<button class="button button-block button-positive" ng-click="goTabs()">
  			Facebook
		</button>
		<button class="button button-block button-assertive" ng-click="goTabs()">
  			Gmail
		</button>
		
		<div class="row">
			<div class="col">
				<button class="button button-block button-stable">
				  Registrar
				</button>
			</div>
			<div class="col">
				<button class="button button-block button-stable">
				  Entrar
				</button>
			</div>
		</div>
	</div>
</div>